h1{
font-family: Arial;
color:blue;
}
h2{
  color:red;
}
body {
    background-image: url("https://static.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg");
    background-color: #cccccc;
}
https://static.pexels.com/photos/53594/blue-clouds-day-fluffy-53594.jpeg
