h1{
font-family: Arial;
color:blue;
}
h2{
  color:red;
}
body {
    background-image: url("http://images.all-free-download.com/images/graphicthumb/colorful_rainbow_background_vector_528014.jpg");
  
}
